table {
    width: 100%;
   
  }

.post-list-table{
          ::ng-deep{
              .mat-row{
                      &:hover{
                              background-color: #f3dddd;
                              cursor:pointer;
                      }
              }    
          }
  }

  .tolbar{
        ::ng-deep{
            button{
                    &:hover{
                            background-color: #f3dddd;
                            color: #3f51b5;
                            cursor:pointer;
                    }
            }    
        }
}

.btn{
        position: absolute;
        right: 20px;
}



