<mat-toolbar color="primary" class="tolbar" >

  
        <span>Post Application</span>
        
        <button (click)="logout()" class="btn">Logout</button>
       
    
</mat-toolbar>
<div class="m-5">
        <div class="row m-3">
                <ng-container *ngIf="(getPostList() | async) as postlistItens">
                        <table mat-table [dataSource]="postlistItens" class="mat-elevation-z8  post-list-table">

                                <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

                                <ng-container matColumnDef="id" >
                                        <th mat-header-cell *matHeaderCellDef  > Id </th>
                                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                </ng-container>



                                <ng-container matColumnDef="title">
                                        <th mat-header-cell *matHeaderCellDef > Title </th>
                                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subtitle">
                                        <th mat-header-cell *matHeaderCellDef > Sub Title </th>
                                        <td mat-cell *matCellDef="let element"> {{element.subtitle}} </td>
                                </ng-container>


                                <ng-container matColumnDef="imageurl">
                                        <th mat-header-cell *matHeaderCellDef > Image Url </th>
                                        <td mat-cell *matCellDef="let element" > {{element.imageurl}} </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef > Action </th>
                                        <td mat-cell *matCellDef="let element"  > 
                                                <button 
                                                (click)="deletePost(element); $event.stopPropagation()"
                                                mat-icon-button aria-label="Delete post">
                                                        <mat-icon>delete</mat-icon>
                                                </button>
                                        </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editPost(row)"></tr>
                        </table>
                 </ng-container>

               


                        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                

        </div>
</div>


<div class="d-flex justify-content-end ">

        <button matTooltip="add a post" (click)="createPost()" mat-fab color="primary" class="m-3">
                <mat-icon>add</mat-icon>
        </button>
</div>