.tolbar{
        ::ng-deep{
            button{
                    &:hover{
                            background-color: #f3dddd;
                            color: #3f51b5;
                            cursor:pointer;
                    }
            }    
        }
}
